body {
  margin: 0 auto;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
  text-align: center; }

.logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90px;
  padding-top: 4rem;
  padding-bottom: 2rem; }

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch; }
  .container__soon--title {
    color: #969696;
    font-weight: 80; }
  .container__subscribe {
    font-weight: 80; }

.form {
  display: flex;
  justify-content: center; }
  .form__input-div {
    margin-right: 1%; }
  .form__input-div--email {
    width: 25vw;
    height: 7vh;
    border: 2px solid;
    color: silver;
    border-radius: 20px; }
  .form__button--submit {
    border: none;
    color: white;
    background-color: #4f7df3;
    height: 7vh;
    width: 9vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px; }
    .form__button--submit:hover {
      background-color: red; }

.dash__dashboard {
  width: 50%;
  padding-left: 2%;
  padding-top: 6%; }

#social {
  margin-top: 15%; }
  #social i {
    font-size: 1rem;
    color: #4f7df3;
    border: 0.4px solid;
    padding: 0.5rem;
    border-radius: 100%;
    margin: 0.5rem; }

h4 {
  font-size: 15%;
  margin: 1%;
  color: #969696;
  font-weight: normal;
  font-size: 60%; }

.attribution {
  font-size: 10px;
  padding: 0;
  color: #4f7df3; }
  .attribution a {
    text-decoration: none; }

@media only screen and (max-width: 600px) {
  .form {
    display: block;
    justify-content: center; }
    .form__input-div--email {
      width: 50vw;
      height: 7mvh; }
    .form__button {
      width: 50vw;
      margin-left: 13%;
      padding: 1rem;
      font-size: .8em; } }
